<!DOCTYPE html>
<html>
  <head>
    <meta 
      name="image" 
      property="og:image" 
      content="<%= image_url("mooguri.png")%>" 
    />
    <meta 
      name="description" 
      property="og:description" 
      content="It's like Etsy, but for cow-comrades, dairy-devotees, and everyone 
      beyond and in-between! Mooguri is an Etsy clone, and like Etsy, it is an 
      ecommerce site that keeps a focus for vintage goods and crafted items, but this 
      time cow-themed." 
    />
    <title>Mooguri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.placeholder = "<%= image_url("cow_placeholder.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
