<!DOCTYPE html>
<html>
  <head>
    <title>Mooguri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.placeholder = "<%= image_url("cow_placeholder.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
